Based off of this answer: https://stackoverflow.com/questions/12065885/filter-dataframe-rows-if-value-in-column-is-in-a-set-list-of-values

Read in the baseline data (259 Genes with 346 GO IDs)

In [17]:
import pandas as pd
df = pd.read_csv('GObaseline.txt', sep="\t")
df.tail(5)

     GeneID        GOID                           GOTerms
342  MG_126  GO:0006436  tryptophanyl-tRNA aminoacylation
343  MG_455  GO:0006437       tyrosyl-tRNA aminoacylation
344  MG_030  GO:0044206                       UMP salvage
345  MG_030  GO:0006223                    uracil salvage
346  MG_334  GO:0006438         valyl-tRNA aminoacylation

Read in reintroduction gene deletion list as a 1D vertical dataframe, convert to a list.

In [18]:
df2 = pd.read_csv('reintroduction_church.txt', sep="\t")
df2.columns = ['a']
reintrolist = df2['a'].values.tolist()
print(reintrolist)

['MG_022', 'MG_034', 'MG_037', 'MG_038', 'MG_042', 'MG_043', 'MG_044', 'MG_045', 'MG_049', 'MG_051', 'MG_053', 'MG_071', 'MG_077', 'MG_078', 'MG_079', 'MG_080', 'MG_091', 'MG_098', 'MG_099', 'MG_100', 'MG_106', 'MG_114', 'MG_118', 'MG_128', 'MG_137', 'MG_179', 'MG_180', 'MG_181', 'MG_182', 'MG_203', 'MG_204', 'MG_221', 'MG_238', 'MG_245', 'MG_270', 'MG_271', 'MG_272', 'MG_273', 'MG_274', 'MG_275', 'MG_276', 'MG_278', 'MG_287', 'MG_299', 'MG_302', 'MG_303', 'MG_304', 'MG_321', 'MG_322', 'MG_323', 'MG_330', 'MG_342', 'MG_347', 'MG_357', 'MG_365', 'MG_368', 'MG_372', 'MG_382', 'MG_383', 'MG_419', 'MG_434', 'MG_444', 'MG_453', 'MG_469', 'MG_470', 'MG_473', 'MG_481', 'MG_517', 'MG_039', 'MG_104', 'MG_289', 'MG_290', 'MG_291', 'MG_427']

Make a dataframe by comparing the baseline and reintroduction lists.
Those GeneIDs in the baseline AND in the reintroduction list are kept in the new list.
Export the new list to a CSV.

In [19]:
df3 = df[df['GeneID'].isin(reintrolist)]
df3.to_csv('reintroductionChurchGOList.txt', sep='\t')
df3.tail(5)

     GeneID        GOID    GOTerms
324  MG_044  GO:0006810  transport
327  MG_179  GO:0006810  transport
328  MG_180  GO:0006810  transport
331  MG_289  GO:0006810  transport
332  MG_291  GO:0006810  transport